<p style="color: green"><%= notice %></p>

<%= render @user %>

<p>
  User has made 
  <%= @user.ratings.count %> 
  ratings, average rating 
  <%= @user.average_rating %>
</p>

<% if @user.beer_clubs.empty? %>
  <p>
    User is not a member of any club
  </p>
<% else %>
  <p>
    <strong>Beer Clubs</strong>
  </p>
  <ul>
    <% @user.beer_clubs.each do |beer_club| %>
      <li>
        <%= beer_club.name %>
      </li>
    <% end %>
  </ul>
<% end %>


<p>
  <strong>Ratings</strong>
</p>
<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
        <%= button_to 'delete', rating, method: :delete, form: { data: { turbo_confirm: "Really delete #{rating.score} point rating for #{rating.beer.name}?" } } %>
      <% end %>
    </li>
  <% end %>
</ul>

<div>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user) %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
</div>
