<div id="<%= dom_id brewery %>">
  <h2>
    <%= brewery.name %>
  </h2>

  <em>
    Established in
    <%= brewery.year %>
  </em>

  <p>Number of beers: <%= brewery.beers.count %></p>
  
  <p>
    <% brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
    <% end %>
  </p>

  <p>
    <%= link_to 'List of beers', beers_path %>
  </p>
</div>
