<div id="<%= dom_id brewery %>">
  <h2>
    <%= brewery.name %>
  </h2>

  <em>
    Established in
    <%= brewery.year %>
  </em>

  <p>Number of beers: <%= brewery.beers.count %></p>
  
  <p>
    <% brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
    <% end %>
  </p>

  <% if brewery.ratings.empty? %>
    <p>No ratings yet</p>
  <% else %>
    Brewery has 
    <%= "#{brewery.ratings.count} #{'rating'.pluralize(brewery.ratings.count)}" %> 
    with an average of
    <%= brewery.average_rating %>
  <% end %>

  <p>
    <%= link_to 'List of beers', beers_path %>
  </p>
</div>
