<div id="<%= dom_id beer %>">
  <p>
    <strong>Name:</strong>
    <%= beer.name %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= beer.style %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <%= link_to beer.brewery.name, beer.brewery %>
  </p>

  <p>
    <%= link_to 'List of breweries', breweries_path %>
  </p>
</div>
